<h2>Admin Dashboard</h2>

<ul>
    <li>
        <a asp-area="Admin" asp-controller="Cars" asp-action="Index">Manage Cars</a>
    </li>
    <li>
        <a asp-area="Admin" asp-controller="RepairOrders" asp-action="Index">Manage Repair Orders</a>
    </li>
    <li>
        <a asp-area="Admin" asp-controller="Owners" asp-action="Index">Manage Owners</a>
    </li>
    <li>
        <a asp-area="Admin" asp-controller="Garages" asp-action="Index">Manage Garages</a>
    </li>
</ul>